<!DOCTYPE html>

<%- include('../partials/head'); %>

<body class="container">
    
    <%- include('../partials/header', {pagina: 'Sobre'}); %>

    <main>
        <div class="jumbotron">
            <h1>Sobre mim</h1>
            <p>Ola sou Pedro Henrique Aluno da Rocketseat</p>
        </div>
    </main>

    <%- include('../partials/footer'); %>

</body>
</html>